:root {
    --background: #000;
    --brandBackground: #1d9bf020;
    --brandColor: #d9d9d9;
    --itemBackground: #d9d9d920;
    --colorPrimary: #d9d9d9;
    --colorSecondary: #6e767d;
    --colorWhite: #fff;
    --tweetBtnBg: #1d9bf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease;
    user-select: none;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--colorPrimary);
    font-size: 20px;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    background: var(--background);
    padding: 0 3em;
}

nav.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: var(--background);
    border-right: 1px solid #fff2;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 95px;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 100;
}

.navbar-brand {
    display: inline-block;
    margin-bottom: 5px;
    padding: 8px 8px 4px 10px;
    border-radius: 50%;
}

.navbar-brand:hover {
    background: var(--brandBackground);
}

.item-link {
    font-weight: 500;
}

.navbar-brand a {
    text-decoration: none;
    color: var(--brandColor);
}

.nav-item {
    padding: 8px 25px 8px 10px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.res{
    visibility: hidden;
}

.nav-item:hover {
    background: var(--itemBackground);
}

.nav-item .item-icon{
    margin-right: 15px;
}

.nav-item .item-icon ion-icon {
    font-size: 26px;
    --ionicon-stroke-width: 30px;
}

.nav-item .item-icon.home ion-icon {
    font-size: 28px;
}

.nav-item .item-icon.hash {
    padding: 0 2px;
    font-size: 30px;
    font-weight: 300;
}

a.tweet-btn {
    display: block;
    width: 230px;
    background: var(--tweetBtnBg);
    color: var(--colorWhite);
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
}

a.tweet-btn:hover {
    --tweetBtnBg: #1d9bf0ee;
}

a.tweet-btn ion-icon {
    font-size: 20px;
    color: #fff;
    display: none;
}

a.profile-btn {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
}

.profile-btn:hover {
    background: var(--itemBackground);
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.profile-img {
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info .name {
    font-weight: bold;
    line-height: 1.5;
}

.profile-info .username {
    color: var(--colorSecondary);
}

.option-icon ion-icon {
    font-size: 16px;
    margin-top: 2px;
}


  /* sub items start ------------------------------------------------- */

.sub-items-box {
    position: absolute;
    bottom: 20px;
    left: -60px;
    background-color: var(--background);
    box-shadow: 0 0 10px #fff5;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    display: none;
    z-index: 100;
}

.sub-items-box2 {
    position: absolute;
    bottom: 70px;
    left: -60px;
    background-color: var(--background);
    box-shadow: 0 0 10px #fff5;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    display: none;
    z-index: 100;
}

.sub-items-box2.active {
    display: block;
}

.sub-items-box.active {
    display: block;
}

.sub-item {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.sub-item:hover {
    background: #15181c;
}

.sub-item .item-icon {
    margin-right: 10px;
}

.sub-item .item-icon ion-icon {
    font-size: 18px;
}

.sub-item .item-link {
    font-size: 18px;
    font-weight: bold;
}

.config {
    padding-top: 2px;
    margin-top: 2px;
    border-top: 1px solid #fff2;
}

#main {
    position: fixed;
    right: 0;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    z-index: 20;
}

.text-main {
    display: inline-block;
    padding: 17px 118px 17px 118px;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(50px);

}

li:hover {
    background-color: #c1c1c120;
}

#borda-1 {
    left: 402px;
    border-left: 1px solid #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 13px;
    text-decoration-color: #1d9bf0;
    text-decoration-thickness: 4px; 
}

#borda-2 {
    left: 700px;
    border-right: 1px solid #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
}

#coments {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 65px;
    left: 420px;

}

#img-info {
    position: relative;
    top: 7px;
    border-radius: 50%;
    margin-right: 10px;
}

#comentarios {
    position: relative;
    z-index: 22;
}

.button-coments {
    position: relative;
    top: -30px;
    left: 420px;
    border: none;
    width: 90px;
    background: var(--tweetBtnBg);
    color: var(--colorWhite);
    text-align: center;
    padding: 9px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    z-index: 15;
    cursor: pointer;
}

.bordas {
    position: absolute;
    left: 402px;
    width: 600px;
    height: 100%;
    border: 1px solid #2e2e2e;
    border-bottom: none ;
    border-top: none;
}

form {
    position: relative;
}

textarea {
    position: relative;
    right: 0px;
    top: -7px;
    color: #fff;
    background: none;
    border: 1px solid #2e2e2e;
    height: 90px;
    width: 510px;
    overflow: hidden; 
    resize: none; 
    align-items: center;
    z-index: 10;
    padding: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    caret-color: white;
    font-size: 20px;
    font-weight: 500;
}

textarea:focus {
    outline: none;
}

#for-you {
    position: relative;
    display: block;
    color: #fff;
    width: 600px;
    height: 600px;
    right: 583px;
    top: 160px;
    
}

.user {
    position: relative;
    display: flex;
    padding-bottom: 90px;
    border: 1px solid #2e2e2e;
    right: 0px;
    width: 600px;
}

#user-nome {
    position: relative;
    top: 12px;
}

.username {
    position: relative;
    color: #858585;
    font-weight: 200;
}

#arroba {
    top: 12px;
    margin-left: 10px;
}

.coment-form {
    position: absolute;
    margin-bottom: 30px;
    word-break: break-all;
    top: 35px;
    right: 80px;
    width: 450px;
}

#user-foto {
    margin-left: 15px;
    margin-top: 10px;
}

.temp-post {
    position: absolute;
    color: #858585;
    font-weight: 200;
    top: 12px;
    left: 160px;
}

.form input[type="file"] {
    position: relative;
    right: 60px;
    color: #1d9bf0;
    cursor: pointer;
}

.img-coment {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    top: 70px;
    right: 160px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    background-color: #393939;
}
::-webkit-scrollbar-thumb {
    background-color: #737373;
}


  /* overlay ----------------------------------- */
.overlay {
    position: absolute;
    inset: 0;
    background: transparent;
    display: none;
    z-index: 10;
}

.overlay.active {
    display: block;
}
  /* Responsive ----------------------------------------------------------- */

@media screen and (max-width: 1200px) {
    nav.sidebar {
        width: 75px;
    }
    .nav-item {
        padding: 9px 11px;
    }
    .nav-item .item-icon {
        margin-right: 0;
    }
    .nav-item .item-link {
    display: none;
    }
    .nav-item.hash {
        width: 48px;
        height: 48px;
    }
    a.tweet-btn {
        line-height: 0;
        font-size: 20px;
        width: auto;
        padding: 12px 14px;
    }
    a.tweet-btn ion-icon {
        display: inline-block;
    }
    a.tweet-btn .text {
        display: none;
    }
    .profile-info > div {
        display: none;
    }
    a.profile-btn .option-icon {
        display: none;
    }
    img.profile-img {
        margin-right: 0;
    }
    a.profile-btn {
        width: 55px;
    }
}